#!/usr/bin/make -f

CFLAGS = -O2
DEB_HOST_ARCH_CPU := $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)

ifeq ($(DEB_HOST_ARCH_CPU), sparc)
	CFLAGS += -Wa,-Av9a
endif

%:
	dh $@ --with autoreconf --with quilt

override_dh_auto_configure:
	./configure --prefix=/usr

override_dh_auto_build:
	dh_auto_build -- V=1

override_dh_makeshlibs:
	dh_makeshlibs -V
